* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.6rem;
    height: 100vh;
    margin: 0;
}

.title {
    margin: 1rem 0 0;
    text-align: center;
}

.container {
    display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    max-width: 100rem;
}

.container img {
    height: 30rem;
    margin: 1rem;
    max-width: 100%;
    object-fit: cover;
    width: 30rem;
}